body{
    background-image:
url("https://img.freepik.com/free-photo/3d-medical-background-with-close-up-dna-strands-low-poly-design_1048-11960.jpg?w=2000");
background-repeat: no-repeat;
background-size: cover;
}



.topnav{
    color: rgb(56, 43, 9);
    font-size: 27px;
  
    float: right;
}

.topnav a{
    
    padding: 20px 15px;
}
/* .topnav a:hover{
background-color: pink;
} */
.button{
    background-color: rgb(237, 223, 188);
    color: rgb(42, 165, 118);
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    float: right;
    border-radius: 20px;
}
.button:hover {background-color: #ccd7e8}

.button:active {
  background-color: #90a8cd;
  box-shadow: 0 7px rgb(72, 77, 98);
  transform: translateY(5px);

}



#one{
    font-size: 40px;
    margin-top: 150px;
    margin-left: 100px;
    font-family: 'Permanent Marker', cursive;
    float: left;
    position: relative;
    border-color: transparent;
    background-color: transparent;
}
#two{
    font-size: 40px;
    margin-top: 300px;
  margin-left: 200px;
    font-family: 'Permanent Marker', cursive;
    float: left;
 position: absolute;
    background-color: transparent;
    border-color: transparent;
}

.heading:hover{
   transition: 1s;
    transform:translateX(250px)}
 
hr.line1{
   border: 6px solid black;
    border-radius: 5px;
}
hr.line2{
    border: 6px solid black;
     border-radius: 5px;
 }
 hr.line3{
    border: 6px solid black;
     border-radius: 5px;
 }

 .list1{
    font-family: 'Fuzzy Bubbles', cursive;
 }
 #crheading1{
    font-family: 'Faster One', cursive;
    font-size: 40px;
 }

 dl dd{
  
    background: #e5dd9ee7;
  color: darkred;
  padding: 5px;
  font-size: 15px;
 }
 dl {
   
    font-weight: bold;
    margin-left: 35px;
    font-size: 20px;
 }

#glyimage{
    height: 700px;
    width: 1000px;
    position: relative;
    background: rgb(238, 223, 185);
    border-radius: 100px;
 }

.divgly{
    background-color: red;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    width: 50%;
    top: 30%;
   
 
   
    overflow:auto;
  
  
    animation: 5s divgly;
  
  
 
}


@keyframes divgly{
    from {
      margin-right: 50%;
      width: 10%; 

    
    }
  
    to {
      margin-left: 70%;
      width: 20%;
    }
  }