body{
    background-image:
url("https://img.freepik.com/free-photo/3d-medical-background-with-close-up-dna-strands-low-poly-design_1048-11960.jpg?w=2000");
background-repeat: no-repeat;
background-size: cover;
}



.topnav{
    color: rgb(56, 43, 9);
    font-size: 27px;
  
    float: right;
}

.topnav a{
    
    padding: 20px 15px;
}
/* .topnav a:hover{
background-color: pink;
} */
.button{
    background-color: rgb(237, 223, 188);
    color: rgb(42, 165, 118);
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    float: right;
    border-radius: 20px;
}
.button:hover {background-color: #ccd7e8}

.button:active {
  background-color: #90a8cd;
  box-shadow: 0 7px rgb(72, 77, 98);
  transform: translateY(5px);

}



#one{
    font-size: 40px;
    margin-top: 150px;
    margin-left: 100px;
    font-family: 'Permanent Marker', cursive;
    float: left;
    position: relative;
    border-color: transparent;
    background-color: transparent;
}
#two{
    font-size: 40px;
    margin-top: 300px;
  margin-left: 200px;
    font-family: 'Permanent Marker', cursive;
    float: left;
 position: absolute;
    background-color: transparent;
    border-color: transparent;
}

.heading:hover{
   transition: 1s;
    transform:translateX(250px)}
 
hr.line1{
   border: 6px solid black;
    border-radius: 5px;
}
hr.line2{
    border: 6px solid black;
     border-radius: 5px;
 }
 hr.line3{
    border: 6px solid black;
     border-radius: 5px;
 }

 .list1{
    font-family: 'Fuzzy Bubbles', cursive;
 }
 #crheading1{
    font-family: 'Faster One', cursive;
    font-size: 40px;
 }
#CR{
  
background-color: rgba(117, 235, 241, 0.5);
}
 dl dd{
  
    background: #e5dd9ee7;
  color: darkred;
  padding: 5px;
  font-size: 15px;
 }
 dl {
   color: rgb(182, 236, 121);
    font-weight: bold;
    margin-left: 35px;
    font-size: 20px;
 }

#glyimage{
    height: 700px;
    width: 1000px;
    position: relative;
    background: rgb(238, 223, 185);
    border-radius: 100px;
 }

.divgly{
    background-color: rgb(225, 168, 168);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    position: absolute;
   height: 600px;
   width: 500px;
    top: 30%;
   
 
   
    overflow:visible;
  
  
    animation: 5s divgly forwards;
  
  
 
}


@keyframes divgly{
    from {
      margin-right: 50%;
      width: 10%; 

    
    }
  
    to {
      margin-left:75%;
      width: 20%;
    }
  }


 span:hover + div{
 font-size: 30px;
 font-family: 'Chewy', cursive;
 display: block;
 }
 #SLP{
  position: absolute;
  top: 86%;
  left: 44%;
  background-color: yellow;
 }
 #SLP2{
  position: absolute;
  top: 86%;
  left: 12%;
  background-color: yellow;
 }

 .divatp{
  background-color: yellow;
  display: none;

}

.stage2{
  color: rgb(104, 225, 191);
}
#pyruvate_oxidation_image{
  position: absolute;
  margin-top: 200px;

height: 300px;
width: 500px;
}

#krebs_cycle_image{
 margin-left: 600px;
}

#pyruvatebutton1{
  position: absolute;
  top:184%;
  left: 6%;
  height: 30px;
  width: 30px;
  background-color:rgb(159, 239, 239);
}

button:hover+div{
  display:block;
  font-size:20px;
  font-size: 30px;
 font-family: 'Chewy', cursive;
}

.divpyruvatebutton1{
  background-color:rgb(159, 239, 239);
  display: none;
  

}
#pyruvatebutton2{
  position: absolute;
  top:194%;
  left: 16%;
  height: 30px;
  width: 30px;
  background-color:rgb(159, 239, 239);
}

.divpyruvatebutton2{
  background-color:rgb(159, 239, 239);
  display: none;
  
}
#pyruvatebutton3{
  position: absolute;
  top:184%;
  left: 30%;
  height: 30px;
  width: 30px;
  background-color:rgb(159, 239, 239);
}

.divpyruvatebutton3{
  background-color:rgb(159, 239, 239);
  display: none;
  
}
#ace-button{
  position: absolute;
  background-color:rgb(159, 239, 239);
  top: 161%;
  left: 58%;
  height: 30px;
  width: 100px;
}
.divacebutton{
  background-color:rgb(42, 165, 118);
  display: none;
}
#oxa-button{

  position: absolute;
 background-color:rgb(159, 239, 239);
 top: 172%;
  left: 52.5%;
  height: 40px;
  width: 120px;
}
.divoxabutton{
  background-color:rgb(42, 165, 118);
  display: none;
}
#GDP-button{
  position: absolute;
  background-color:rgb(159, 239, 239);
  top: 239.5%;
  left: 62%;
  height: 35px;
  width: 100px;
}

.divGDPbutton{
  background-color:rgb(42, 165, 118);
  display: none;
}


#stage3{
  color: white;
}




#photo-image{
  height:350px;
  width: 450px;
  margin-left:200px;
}

.photo-heading{
  background-color:rgba(250, 235, 215, 0.749);
}


.divphoto{
  background-color: rgba(225, 168, 168, 0.988);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  position: absolute;
 height: 450px;
 width: 700px;
  top: 5%;
 

 
  overflow:visible;


  animation: 5s divphoto forwards;



}

@keyframes divphoto{
  from {
    margin-right: 50%;
    width: 10%; 

  
  }

  to {
    margin-left:55%;
    width: 20%;
  }
}
